
html {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

/* latin */
/* vietnamese */


@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v5/i7dPIFZifjKcF5UAWdDRYE58RWq7.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}


@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v5/i7dMIFZifjKcF5UAWdDRaPpZUFqaHjyV.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

body {
  background-color: #F2F2F2;
}

#profile {
    float: left;
    width: 250px;
    border-radius: 80%;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 1px;
}


                    
h1 {
  color: white;
  font-size: 44px;
  
  text-align: center;
  font-family: 'Space Mono';
  font-weight: 2000;
    
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: Georgia;
  word-spacing: 0.05em;
  letter-spacing: 0.02em;

}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
main .column {
  float: left;
  width: 32%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  
}

.journey-des{
    color: white;
    text-align: center;
}

/* Clear floats after the columns */
main .row:after {
  content: "";
  display: table;
  clear: both;
    
}




p {
  margin: 16px 0;
  font-family: Helvetica;
}

strong {
  font-weight: bold;
}

 /* Offset linked sections to account for header. */
#skills,
#contact {
  padding-top: 7px;
  margin-top: -77px;
}

#life{
  padding-top: 77px;
  margin-top: -77px;
}

/* Header */

.header {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 900;
}

.bar{
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1px;
  background-color: black;
  top: 0;
  width: 100%;
  font-weight: 900;
}

.bar li{
    display: inline-block;
}

.bar a{
    display: block;
  color: white;
  padding: 20px 15px;
    font-size: 20px;
}

.header li {
  display: inline-block;
}

.header a {
  display: block;
  color: white;
  padding: 20px 15px;
    font-size: 20px;

}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #553222;
}
nav.header ul li a:hover:after {
  width: 100%;
}
a.home {
  color: #FFFACD;
}


/* Banner Section */

.banner {
  background-color: #425971;
  padding: 190px 0;
  margin-top: 10px;
  text-align: center;
  
  
}

.banner p {
    padding-top: 10px;
  /*border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;*/
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4;
    font-size: 25px;
    align-content: center;
    font-family: 'Rancho';
    font-weight: normal;
}
.p-left{
    text-align: center;
   padding-left: 10%;
    margin-left: 5em;
}


.col-img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small{
    width: 200px;
}

/* Editorial Sections */

.editorial {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  color: #4C4C4C;
}

/* Font Card Sections */

.font-card {
  background-color: #ffffff;
  margin: 50px 0;
  padding: 20px 50px;
}

.font-card .creator {
  font-size: 20px;
  line-height: 1.25;
  font-style: italic;
}

.garamond .sample .text{
  font-family: "Garamond", serif;
}

.sample {
  display: inline-block;
  padding: 0 20px;
  margin: 20px;
}

.sample h2 {
  line-height: 1.5;
}

.sample .text {
  color: #4D00FF;
  font-size: 100px;
}

/* Add styles for the Garamond font here */


/* Add styles for the Helvetica font here */
.helvetica .sample .text{
  font-family: "Helvetica", sans-serif;
}
/* Add styles for the Space Mono font here */
.space .sample .text{
  font-family: 'Space Mono', monospace;
}
.bold {
  font-weight: 900;
}

.regular {
  font-weight: normal;
}

.italic {
  font-weight: normal;
  font-style: italic;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.spacer {
    height: 4px;
}

/* Media Queries */

@media only screen and (max-width: 535px) {
  .header {
    font-size: 14px;
  }

  .header a {
    padding: 30px 20px;
  }

  a.home {
    display: none;
  }
}

